name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  metadata:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Validate SBOM minimum elements
        run: python3 compliance/sbom/validate_sbom.py

      - name: Validate Code.gov metadata minimum elements
        run: python3 compliance/codegov/validate_codegov_metadata.py

  terraform:
    runs-on: ubuntu-latest
    needs: metadata
    steps:
      - uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.5

      - name: Terraform fmt check
        run: terraform fmt -check -recursive

      - name: Terraform init & validate
        run: |
          for d in modules envs/dev envs/prod; do
            if [ -d "$d" ]; then
              (cd "$d" && terraform init -backend=false && terraform validate) || exit 1
            fi
          done

  tests:
    runs-on: ubuntu-latest
    needs: terraform
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install test deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt

      - name: Run pytest
        run: pytest -q
